.small {
  background-color: lightpink;
  width: 250px;
  height: 130px;
  margin: 10px 0;
}

.middle {
  background-color: lightgreen;
  width: 300px;
  height: 160px;
  margin: 10px 0;
}

.big {
  background-color: lightblue;
  width: 350px;
  height: 190px;
  margin: 10px 0;
}