.question { /*span*/
    padding: 2px;
    background-color: #0B005C;
    color: aliceblue;
    font-weight: bold;
}

.question::before {
    content: '❔ ';
}

h3 {
    padding: 4px 5px;
    border: 5px inset rgb(157, 219, 11);
}


.tb {
    /*test box 좌우로 나열해서 비교를 편하게 하기위함*/
    display: inline-block; margin-left:10px; margin-right:10px;
    width: 400px;
    min-height: 280px;
    vertical-align: bottom;
    background-color: rgba(0, 0, 0, 0.021);
}