#home {
    width: 100%; height: 300px;
    background-color: pink;
   
    div {
        width: 300px; height: 50px;
        background-color: lightgreen;
        border: 1px solid #bbb;
        box-sizing: border-box;

        &:nth-child(2n)
        {
            background-color: orange;
        }
        &.a {
            background-color: lightblue;
        }
        
    }
     /* > div {
            width: 300px; height: 100px;
        + div { 
            width: 200px; height: 50px;
            background-color: blue;
        }
    } */

}