.a{
    width:200px;height:50px;
    background-color: pink;
}
.b{
    display:inline-block;
    width:250px; height:100px;
    background-color:orange;
}
.c{
    width: 300px; height: 150px;
    background-color:skyblue;
}
.fl{float:left;}