.box{
    width:100px; height:100px;
}

.init{
    position: absolute; right:0px;
}

.abs{
    position:absolute; right: 100px;
}

.a {
    background-color:#eee;
}
.b{
    background-color:#ccc;
}
.c{
    background-color:#aaa;
}
.d{
    background-color:#ddd;
}
.e{
    background-color:#bbb;
    top:-10px;
}
.f{
    background-color:#999;
}


.fl{float:left;}