/* .body{margin:0;} */
.box{
    margin: 20px; overflow: hidden;
    background-color:#ddd;
    border: 1px dotted #000; box-sizing:border-box;
}

.a {
    width: 200px;
    height: 200px;
    
}
.b{
    width:160px;height:160px;
    
}
.c{
    background-color:pink;
}
.d{
    background-color: skyblue;
}

.inner{
    width:100px; height: 100px;
}

.rel{
    position: relative;
}

.abs{
    position:absolute; bottom: 0; right: 0;
}

.point{
    width:20px; height:20px; background-color:coral;
    position:absolute;
    top:2px; left:2px;
}
.fl{float:left;}
