#conbox .inner2{
    width: 600px;
    height: 50px;
    margin: 0 auto;
    background-color:lightblue;
    text-align:center;
}
#conbox .inner2 .text2{
    line-height: 50px;
    color: royalblue;
    font-style: italic;
}